.about-us {
  position: relative;
  margin: 0;
}

.about-us:before {
  content: "";
  background-image: url("../image/quote.jpg");
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  right: 300px;
  top: 50%;
  transform: translateY(-50%);
}

.review {
  color: #FFF;
  font-size: 44px;
  font-weight: 400;
  line-height: 50px; /* 113.636% */
  text-transform: uppercase;
  white-space: break-spaces;
}

.quotes {
  color: #6C0287;
  font-size: 44px;
  font-weight: 900;
  line-height: 50px; /* 113.636% */
  text-transform: uppercase;
}

.blockquote {
  width: 250px;
  height: 84px;
  float: right;
  margin: 0;
}

