.first-section {
  height: 823px;
}


.first-title {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  width: 370px;
  margin: 0 0 0 100px;
}

.vr-man {
  position: relative;
  height: 762px;
  left: 505px;
  bottom: 130px;

}