.address {
  margin-bottom: 39px;
}
.item-adress {
  font-style: normal;
  font-weight: 700;
  padding-left: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 10px;
  padding: 0;
}

.item-adress:first-child {
  margin-bottom: 38px;
}

.item-adress:last-child {
  margin-bottom: 0;
}

.address__img {
  float: left;
  width: 35px;
  height: 32px;
  margin-right: 30px;
}

.decoration-link {
  color: #fff;
}

.social-link-icons {
  padding-bottom: 50px;
}

.social-link {
display: inline-block; 
}

.social-link-item {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 26px;
}

.social-link-item:last-child {
  margin-right: 0;
}

.social-link-url {
  color: #fff;
  font-size: 0;
}

.social-link-url:hover {
  color: #CD06FF;
}

.social-link-url:focus {
  outline-color: #CD06FF;
}

.social-link-url:active {
  color: #840AA3;
}
