.item-adress {
  font-style: normal;
  font-weight: 700;
  padding-left: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 10px;
}

.city {
  background-image: url("/icons/location.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;
  width: 250px;
  height: 61px;

}

.phone-number {
  background-image: url("/icons/phone-call.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;

}

.email {
  background-image: url("/icons/email.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;
}

.decoration-link {
  color: #fff;
}