.item-adress {
  font-style: normal;
  font-weight: 700;
  padding-left: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  margin-bottom: 10px;
}

.city {
  background-image: url("/icons/location.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;
  width: 250px;
  height: 61px;

}

.phone-number {
  background-image: url("/icons/phone-call.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;

}

.email {
  background-image: url("/icons/email.svg");
  background-size: 35px 32px;
  background-repeat: no-repeat;
}

.decoration-link {
  color: #fff;
}

.social-link {
  /* display: inline-block; */
  margin-top: 39px;
  margin-bottom: 50px;
}

.social-link-item {
  display: inline-block;
}

.social-link-url {
  color: #fff;
  padding-right: 26px;
  width: 50px;
  height: 50px;
}

.social-link-url:hover {
  color: #CD06FF;
}

.social-link-url:focus {
  outline-color: #CD06FF;
}

.social-link-url:active {
  color: #840AA3;
}

