/* .section-review {

} */

.section-review__container {
  max-width: 1240px;
  padding: 0 130px;
  margin: 0 auto;
}

.section-review__title {
  margin-bottom: 40px;
}

.section-review__text {
  position: absolute;
  width: 680px;
  height: 88px;
  top: 52px;
  right: 0;
}

.section-review__list {
  position: relative;
  height: 319px;
  margin-bottom: 50px;
}

.section-review__list:last-child {
  margin: 0;
}

/* .section-review__item {

} */

.section-review__figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.section-review__figure-caption {
  position: absolute;
  width: 280px;
  bottom: 0;
  text-align: center;
}

.section-review__img {
  position: absolute;
  width: 280px;
  height: 280px;
  top: 0;
}

/* .section-review__img-max {

}

.section-review__img-nikita {

}

.section-review__img-oksana {

} */
