/* .section-rooms {

}

.section-rooms__list {
  
} */

.section-rooms__title {
  margin-bottom: 40px;
}

.section-rooms__item {
  display: inline-block;
  position: relative;
  background-position: center;
  background-repeat:no-repeat;
  background-size: contain;
  width: 577px;
  height: 349px;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px;
}

.section-rooms__item:nth-child(even) {
  margin-right: 0;
}

.section-rooms__item:nth-child(n+3) {
  margin-bottom: 0;
}

.section-rooms__link {
  position: absolute;
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
  text-transform: uppercase;
  text-decoration: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  white-space: nowrap;
}

.section-rooms__item_vibe {
  background-image: url("../image/vibe.jpg");
}

.section-rooms__item_star {
  background-image: url("../image/starwars.jpg");
}

.section-rooms__item_west {
  background-image: url("../image/wildwest.jpg");
}

.section-rooms__item_neon {
  background-image: url("../image/neon.jpg");
}

.title-reservation {
  border: none;
  padding: 0;
}