* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1B1A1B;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #FFF;
}

h2 {
  text-align: center;
  font-family: Arial;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 50px;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.blockquote {
  text-transform: uppercase;
}

.wrapper {
  width: 1180px;
  margin: 0 130px 0 130px;
}


